.first {
	background-color:#B5B5B5;
	width: 40px;
	position: relative;
}

.input-error {
  color: red;
}

.text-error {
  background-color: yellow;
}

.second {
	background-color:#B5B5B5;
	width: 40px;
	position: relative;
  display: none;
}

.third {
	background-color:#B5B5B5;
	width: 40px;
	position: relative;
	top: 35px;
	margin-left: 753px;
  display: none;
  z-index: 10;
}

.task {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.task-block {
  font-size: 30px;
  display: inline;
}

.input-first-container {
  width: 50px;
  height: 30px;
  margin-left: 600px;
  position: relative;
}

.input-second-container {
  width: 50px;
  height: 30px;
  margin-left: 720px;
  position: relative;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.task-container {
  position: relative;
  height: 50px;
  width: 100%;
}

.canvas-container {
  position: relative;
  height: 100px;
  width: 440px;
  margin: 0 auto;
}

.ruler {
  width: 100%;
}

.invalid-value {
	background-color: red;
}

body {
  padding: 0;
  margin: 0;
}

